[meta]
  dir = "/var/lib/influxdb/meta"
  retention-autocreate = true

[data]
  dir = "/var/lib/influxdb/data"
  engine = "tsm1"
  wal-dir = "/var/lib/influxdb/wal"

[retention]
  enabled = true
  check-interval = "52w"


  # commands
  influx
  SHOW DATABASES
  SHOW RETENTION POLICIES ON influx
  ALTER RETENTION POLICY autogen ON influx DURATION 52w SHARD DURATION 2h DEFAULT